* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
}

.article {
    border-radius: 11px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    max-width: 600px;
    width: 100%;
}

.article-top {
    background-color: #fff;
    padding: 30px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.article-bottom {
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display: flex;
}

.article-bottom-right {
    flex: 1;
    padding: 30px 50px 30px 30px;
    background-color: hsl(179, 62%, 43%);
    opacity: 0.8;
    color: #fff;
}

.article-bottom-left {
    flex: 1;
    padding: 30px;
    background-color: hsl(179, 62%, 43%);
    color: #fff;
}

.article-bottom-right-paragraph {
    opacity: 0.7;
    margin-top: 5px;
}

.article-bottom-right-title {
    margin-bottom: 15px;
}

.article-btn {
    background-color: hsl(71, 73%, 54%);
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    color: #fff;
    cursor: pointer;
}

.article-bottom-left-paragraph {
    margin-top: 10px;
}

.article-bottom-price {
    font-size: 24px;
    font-weight: 600;
}

.article-bottom-per-month {
    opacity: 0.7;
}